[package]
name = "cc2p"
version = "0.2.11"
edition = "2021"
description = "Convert a CSV to parquet file format"
authors = ["rayyildiz"]
license-file = "LICENSE"
repository = "https://github.com/rayyildiz/cc2p"
homepage = "https://rayyildiz.com/projects/cc2p"
readme = "README.md"
keywords = ["cli", "csv", "parquet"]
rust-version = "1.74.0"
categories = ["parsing", "text-processing"]

[dependencies]
arrow-csv = { version = "52" }
arrow-schema = { version = "52" }
parquet = { version = "52", features = ["arrow-csv", "arrow"] }
clap = { version = "4.5", features = ["derive", "std"] }
indicatif = { version = "0.17" }
tokio = { version = "1.36", default-features = false, features = ["rt", "rt-multi-thread"] }
regex = { version = "1.5" }
glob = { version = "0.3" }

[profile.release]
codegen-units = 1
lto = true
panic = "abort"
debug = false
strip = true
opt-level = 3
